header {
    align-items: center;
    background-color: #B3C0FF;
    display: flex;
    height: 12vh;
    justify-content: space-between;
    left: 0;
    margin: 0;
    min-height: max-content;
    padding: 30px 10%;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 20;
}

.header_image {
    height: 10vh;
    min-height: 60px;
}

.header_image_small_a {
    display: none;
}

.header_text {
    font-size: clamp(20px, 5vw, 50px);
    font-weight: 700;
    margin-left: 15px;
}

.header_left {
    align-items: center;
    display: flex;
    height: 12vh;
    justify-content: flex-start;
    width: max-content;
}


.header_image {
    cursor: pointer;
}

.menu_image {
    display: block;
    position: relative;
    background-color: #C5E8C6;
    border-radius: 10px;
    margin-right: 2vh;
    padding: 1vh 2vw !important;
    margin-left: 2px;
}

.menu_image:hover {
    background-color: #B3CFB0;
}

span {
    background-color: unset; !important;
}

span:hover {
    background-color: unset; !important;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 10%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    text-decoration: none;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

.overlay-content a {
    line-height: 20px;
    padding: 2vh 0;
    width: 50vw;
    min-width: fit-content;
    margin-bottom: 8px;
    font-size: 35px;
}
/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 10px;
    position: absolute;
    top: 20px;
    right: 45px;
    padding: 1vh 2vw !important;
}



/* Dropdown Button */
.dropbtn {
    text-decoration: none;
    display: block;
    transition: 0.3s;
    line-height: 20px;
    padding: 2vh 0;
    width: 50vw;
    min-width: fit-content;
    margin-bottom: 8px;
    font-size: 35px;
    font-family: 'Amatic SC', cursive;
    border-radius: 14px;
    visibility: visible;
    background-color: #C5E8C6;
}

/* Dropdown button on hover & focus */
.dropbtn:hover {
    background-color: #B3CFB0;
    color: #f1f1f1;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #B3C0FF;
    min-width: 160px;
    z-index: 1;
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: 50vw;
    align-self: center;
    border-radius: 14px;
    margin-bottom: 1vh;
}

/* Links inside the dropdown */
.dropdown-content a {
    width: 48vw;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #B3CFB0;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px !important;
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}




@media only screen and (max-width: 1050px) {

    header {
        padding: 10px;
    }

    .header_text {
        font-size: 40px;
        font-weight: 400;
    }
}


@media only screen and (max-width: 800px) {
    header {
        display: flex;
        height: max-content;
        min-height: 12vh;
    }

    .header_text {
        font-size: 6vw;
        font-weight: 400;
    }

    .header_left {
        display: inline-flex;
        max-width: 80vw;
    }

    .menu_image {
        width: 50px;
        height: 50px;
        padding: 5px 10px !important;
    }

    b {font-size: 1.5vh}

    .header_image_a {
        display: none;
    }

    .header_image_small {
        height: 10vh;
        min-height: 60px;
    }

    .header_image_small_a {
        display: block;
    }

    h1 {
        display: none;
    }
}

@media only screen and (max-width: 770px) {
    .overlay-content a, .dropbtn, .dropdown-content {
        width: 445px !important;
    }

    .dropdown-content a {
        width: 440px !important;
    }
}

@media only screen and (max-width: 500px) {
    .overlay-content a, .dropbtn, .dropdown-content {
        width: 94vw !important;
    }

    .dropdown-content a {
        width: 92vw !important;
    }
}