<div id="Gallery" class="gallery">
  <div class="gallery_container" id="imageGallery">
    <a href="/woosc-website/about/gallery/play/" class="gallery_image_container one">
      <div class="gallery_image_box">
        <img class="gallery_image" src='{{ i18n "home_gallery_image_1" }}' alt="">
      </div>
      <b>{{ i18n "home_gallery_one" }}</b>
    </a>

    <a href="/woosc-website/about/gallery/sports/" class="gallery_image_container two">
      <div class="gallery_image_box">
        <img class="gallery_image" src='{{ i18n "home_gallery_image_2" }}' alt="">
      </div>
      <b>{{ i18n "home_gallery_two" }}</b>
    </a>

    <a href="/woosc-website/about/gallery/craft/" class="gallery_image_container three">
      <div class="gallery_image_box">
        <img class="gallery_image" src='{{ i18n "home_gallery_image_3" }}' alt="">
      </div>
      <b>{{ i18n "home_gallery_three" }}</b>
    </a>

    <a href="/woosc-website/about/gallery/visits/" class="gallery_image_container four">
      <div class="gallery_image_box">
        <img class="gallery_image" src='{{ i18n "home_gallery_image_4" }}' alt="">
      </div>
      <b>{{ i18n "home_gallery_four" }}</b>
    </a>

    <a href="/woosc-website/about/gallery/our_environment/" class="gallery_image_container five">
      <div class="gallery_image_box">
        <img class="gallery_image" src='{{ i18n "home_gallery_image_5" }}' alt="">
      </div>
      <b>{{ i18n "home_gallery_five" }}</b>
    </a>

    <a href="/woosc-website/about/gallery/celebrations/" class="gallery_image_container six">
      <div class="gallery_image_box">
        <img class="gallery_image" src='{{ i18n "home_gallery_image_6" }}' alt="">
      </div>
      <b>{{ i18n "home_gallery_six" }}</b>
    </a>
  </div>
</div>