.single_container {
    display: flex;
    justify-content: center;
}

.single_text {
    border: 0;
    font-family: 'Calibri', sans-serif;
    font-size: clamp(20px, 2vw, 45px);
    height: max-content;
    text-decoration: none;
    width: 80vw;
    margin-top: 20vh;
}

.single_text p {
    font-family: 'Calibri', sans-serif;
    display: flex;
    flex-direction: column;
}

.single_text p a {
    font-family: 'Calibri', sans-serif;
    width: 50vw;
    margin: 0.5vh;
}

table, th, td {
    border: 2px solid;
    padding: 5px 10px;
}

th {
    background-color: #B3CFB0;
}

td {
    background-color: #C5E8C6;
}

.newsletter, .policies {
    display: block;
    width: 50vw;
    margin: 0.5vh;
    font-family: 'Calibri', sans-serif;
    font-size: clamp(20px, 1vw, 45px);
    border-radius: 20px;
}

.image {
    z-index: 3;
    transition: transform .2s;
    overflow-x: hidden;
}

.gallery {
    align-items: center;
    justify-content: center;
    background-color: #ADD8E6;
    display: flex;
    flex-direction: column;
}

.gallery_line {
    background-color: #000000;
    height: 3px;
    width: 80vw;
}

.gallery_container {
    height: 50vw;
    width: 80vw;
    display: grid;
    gap: 2vh 2vw;
    margin: 2vh 0;
}

.gallery_image_container {
    width: 25vw;
    height: 22vw;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
    background-color: #C5E8C6;
}

.gallery_image_container:hover > b {
    background-color: #B3CFB0;
}

.gallery_image_box {
    width: 23vw;
    height: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
}

.gallery_container b {
    text-align: center;
    font-size: 30px !important;
}

.gallery_image {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}

.one { grid-row: 1; grid-column: 1;}
.two { grid-row: 1; grid-column: 2;}
.three { grid-row: 1; grid-column: 3;}
.four { grid-row: 2; grid-column: 1;}
.five { grid-row: 2; grid-column: 2;}
.six { grid-row: 2; grid-column: 3;}

.gallery_button {
    background-color: #C5E8C6;
    border-radius: 15px;
    border-style: none;
    padding: 10px 15px;
    white-space: nowrap;
    width: auto;
}

.gallery_button:hover {
    background-color: #B3CFB0;
}


@media only screen and (max-width: 1150px) {
    .single_text {
        font-size: 3vw;
    }

    .gallery_container {
        height: fit-content;
    }

    .gallery_image_container {
        width: 40vw;
        height: fit-content;
    }

    .gallery_image_box {
        width: 37vw;
        height: 15vh;
    }

    .gallery_container b {
        font-size: 20px !important;
    }

    .one { grid-row: 1; grid-column: 1;}
    .two { grid-row: 1; grid-column: 2;}
    .three { grid-row: 2; grid-column: 1;}
    .four { grid-row: 2; grid-column: 2;}
    .five { grid-row: 3; grid-column: 1;}
    .six { grid-row: 3; grid-column: 2;}
}

@media only screen and (max-width: 800px) {
    .newsletter, .policies {
        font-size: 3vw;
        width: 75vw;
    }
}

@media (hover: hover) {
    .image:hover {
        z-index: 15;
        transform: scale(1.8);
        filter: drop-shadow(0 0 15px black);
    }
}

@media (hover: none) {
    .image:hover {
        transform: inherit;
    }
}


/* The Modal (background) */
.modal {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
    display: none; /* Hidden by default */
    height: 100%; /* Full height */
    left: 0;
    overflow: auto; /* Enable scroll if needed */
    padding-top: 100px; /* Location of the box */
    position: fixed; /* Stay in place */
    top: 10vh;
    width: 100%; /* Full width */
    z-index: 1; /* Sit on top */
}

/* Modal Content (Image) */
.modal-content {
    display: block;
    margin: auto;
    max-height: 80%;
    max-width: 1000px;
    width: auto;
}

/* Add Animation - Zoom in the Modal */
.modal-content {
    animation-duration: 0.6s;
    animation-name: zoom;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    right: 35px;
    top: 15px;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    cursor: pointer;
    text-decoration: none;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 75%;
    }
}

.view {
    display: block !important;
    z-index: 20;
}

.single_text:has(.person) {
    display: flex;
    flex-direction: row;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
}

.single_text:has(.person) h2 {
    width: 80vw;
}

.person {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 40px;
    text-align: center;
}

.person h3 {
    font-size: 50px;
    float: right;
    position: inherit;
    margin-bottom: 2px;
}

.person h4 {
    position: inherit;
    font-size: 40px;
    float: right;
}

.person p {
    display: flex;
    align-items: center;
    font-size: 25px;
}

.person img {
    width: 200px;
    height: auto;
    border-radius: 15px;
}

@media only screen and (max-width: 1050px) {
    .person {
        width: 40%;
    }
}

@media only screen and (max-width: 700px) {
    .person {
        width: 80%;
    }
}