{{ define "main" }}
<body>
<link rel="stylesheet" href='/woosc-website/css/index.css' type="text/css" media="all" />

<div id="Slideshow" class="slideshow">
    <div class="slideshow-container">
        <img class="mySlides slider_image slider_fade slide" alt="" src='{{ i18n "home_slider_1" }}'>
        <img class="mySlides slider_image slider_fade slide" alt="" src='{{ i18n "home_slider_2" }}'>
        <img class="mySlides slider_image slider_fade slide" alt="" src='{{ i18n "home_slider_3" }}'>
        <img class="mySlides slider_image slider_fade slide" alt="" src='{{ i18n "home_slider_4" }}'>
    </div>
</div>

<div style="height: 100vh; width: 100vw; display: flex; align-items: end">
    <img alt="" class="to_about" src='{{ i18n "to_about" }}'>
</div>


<div id="About" class="about">
    <h2><u>{{ i18n "home_about_title" | safeHTML }}</u></h2>
    <p style="text-align: center; max-width: 80%">{{ i18n "home_about_content" }}</p>
    <p style="text-align: center; max-width: 80%">{{ i18n "home_about_funding" }}</p>

    <div id="About_card_1" class="about_card">
        <div class="left overlap_left about_text">
            <h3><u>{{ i18n "home_about_row_1_title" }}</u></h3>
            <p>{{i18n "home_about_row_1_content" }}</p>
            <a href="/woosc-website/about/newsletters/">{{ i18n "home_about_row_1_button" }}</a>
        </div>
        <img alt="Children playing on the site" class="about_image right overlap_right"
             src='{{ i18n "home_about_row_1_image" }}'>
    </div>

    <div id="About_card_2" class="about_card">
        <img alt="Children playing on the site" class="about_image left overlap_left"
             src='{{ i18n "home_about_row_2_image" }}'>
        <div class="right overlap_right about_text">
            <h3><u>{{ i18n "home_about_row_2_title" }}</u></h3>
            <p>{{ i18n "home_about_row_2_content" }}</p>
            <a href="/woosc-website/about/site/">{{ i18n "home_about_row_2_button" }}</a>
        </div>
    </div>

    <div id="About_card_3" class="about_card">
        <div class="left overlap_left about_text">
            <h3><u>{{ i18n "home_about_row_3_title" }}</u></h3>
            <p>{{i18n "home_about_row_3_content" }}</p>
            <a href="/woosc-website/information/opening_times/">{{ i18n "home_about_row_3_button" }}</a>
        </div>
        <img alt="Children playing on the site" class="about_image right overlap_right"
             src='{{ i18n "home_about_row_3_image" }}'>
    </div>

    <div id="About_card_4" class="about_card">
        <img alt="Children playing on the site" class="about_image left overlap_left"
             src='{{ i18n "home_about_row_4_image" }}'>
        <div class="right overlap_right about_text">
            <h3><u>{{ i18n "home_about_row_4_title" }}</u></h3>
            <p>{{ i18n "home_about_row_4_content" }}</p>
            <a href="/woosc-website/">{{ i18n "home_about_row_4_button" }}</a>
        </div>
    </div>

    <div id="About_card_5" class="about_card">
        <div class="left overlap_left about_text">
            <h3><u>{{ i18n "home_about_row_5_title" }}</u></h3>
            <p>{{i18n "home_about_row_5_content" }}</p>
            <a href='{{ i18n "registration_from_file_title" }}'>{{ i18n "home_about_row_5_button_left" }}</a>
            <a href='{{ i18n "handbook_file_title" }}'>{{ i18n "home_about_row_5_button_right" }}</a>
        </div>
        <img alt="Children playing on the site" class="about_image right overlap_right"
             src='{{ i18n "home_about_row_5_image" }}'>
    </div>

    <img alt="" class="to_aims" src='{{ i18n "to_aims" }}'>
</div>


<div id="Aims" class="aims">
    <h2><u>{{ i18n "home_aims_title" }}</u></h2>
    <div id="Aims_1" class="aims_container">
        <div class="aim_card aim_card_1">
            <div class="aim_text">
                <h4>{{ i18n "home_aims_card_left_content" }}</h4>
            </div>
            <div class="gradient">
                <h2>{{ i18n "home_aims_card_left" }}</h2>
            </div>
        </div>

        <div id="Aims_2" class="aim_card aim_card_2">
            <div class="aim_text">
                <h4>{{ i18n "home_aims_card_middle_content" }}</h4>
            </div>
            <div class="gradient">
                <h2>{{ i18n "home_aims_card_middle" }}</h2>
            </div>
        </div>

        <div id="Aims_3" class="aim_card aim_card_3">
            <div class="aim_text">
                <h4>{{ i18n "home_aims_card_right_content" }}</h4>
            </div>
            <div class="gradient">
                <h2>{{ i18n "home_aims_card_right" }}</h2>
            </div>
        </div>
    </div>
</div>

<div class="to_gallery">
    <img alt="" src='{{ i18n "to_gallery" }}' style="width: 100%">
</div>

<div id="Gallery" class="gallery">
    <h2>{{ i18n "home_gallery_title" }}</h2>
    <div class="gallery_line"></div>
    <div class="gallery_container" id="imageGallery">
        <a href="/woosc-website/about/gallery/play/" class="gallery_image_container one">
            <div class="gallery_image_box">
                <img class="gallery_image" src='{{ i18n "home_gallery_image_1" }}' alt="">
            </div>
            <b>{{ i18n "home_gallery_one" }}</b>
        </a>

        <a href="/woosc-website/about/gallery/sports/" class="gallery_image_container two">
            <div class="gallery_image_box">
                <img class="gallery_image" src='{{ i18n "home_gallery_image_2" }}' alt="">
            </div>
            <b>{{ i18n "home_gallery_two" }}</b>
        </a>

        <a href="/woosc-website/about/gallery/craft/" class="gallery_image_container three">
            <div class="gallery_image_box">
                <img class="gallery_image" src='{{ i18n "home_gallery_image_3" }}' alt="">
            </div>
            <b>{{ i18n "home_gallery_three" }}</b>
        </a>

        <a href="/woosc-website/about/gallery/visits/" class="gallery_image_container four">
            <div class="gallery_image_box">
                <img class="gallery_image" src='{{ i18n "home_gallery_image_4" }}' alt="">
            </div>
            <b>{{ i18n "home_gallery_four" }}</b>
        </a>

        <a href="/woosc-website/about/gallery/our_environment/" class="gallery_image_container five">
            <div class="gallery_image_box">
                <img class="gallery_image" src='{{ i18n "home_gallery_image_5" }}' alt="">
            </div>
            <b>{{ i18n "home_gallery_five" }}</b>
        </a>

        <a href="/woosc-website/about/gallery/celebrations/" class="gallery_image_container six">
            <div class="gallery_image_box">
                <img class="gallery_image" src='{{ i18n "home_gallery_image_6" }}' alt="">
            </div>
            <b>{{ i18n "home_gallery_six" }}</b>
        </a>
    </div>
    <div class="gallery_line"></div>
</div>
<script src="/woosc-website/js/slider.js"></script>
</body>
{{ end }}