<footer>
    <link rel="stylesheet" href="/woosc-website/css/footer.css" type="text/css" media="all" />
    <div>
        <img alt="" class="to_footer" src='{{ i18n "to_footer" }}'>
    </div>
    <div class="footer_container">
        <div class="footer_item" style="padding-left: 2vw">
            <h2><u>{{ i18n "footer_address_title" }}</u></h2>
            <p>
                {{ i18n "footer_address_1" }}<br>
                {{ i18n "footer_address_2" }}<br>
                {{ i18n "footer_address_3" }}<br>
                {{ i18n "footer_address_4" }}
            </p>
        </div>

        <div class="footer_item" style="display: flex; justify-content: center">
            <img alt="WOOSC Logo" class="footer_logo" src='{{ i18n "logo" }}'>
        </div>

        <div class="footer_item" style="padding-right: 2vw">
            <h2><u>Contact Information</u></h2><br>
            <p>
                <a style="font-size: clamp(20px, 2vw, 45px);" href='tel:{{ i18n "contact_phone_number" }}'>Phone: {{ i18n "contact_phone_number" }}</a><br><br>
                <a style="font-size: clamp(20px, 2vw, 45px);" href='mailto:{{ i18n "contact_email" }}'>Email: {{ i18n "contact_email" }}</a>
            </p>

        </div>
    </div>
    <div class="credits">
        <a href="mailto:teilo_coates@outlook.com">Designed and made by Teilo Coates.</a>
        <p>All rights reserved © 2023 - WOOSC - Wickwar Out Of School Club</p>
    </div>
</footer>

